dash==1.17.0
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-mp-components==0.1.9
dash-renderer==1.8.3
dash-table==4.11.0
git+https://github.com/kjappelbaum/molSimplify.git@racs4mof_refact#egg=molsimplify
git+https://github.com/kjappelbaum/crystaltoolkit.git@for_deployment#egg=crystal_toolkit
dash-bootstrap-components==0.10.7
robocrys==0.2.6
pymatgen==2020.11.11
flask_session==0.3.2
colormath==3.0.0
json-logging-py
