dash==1.14.0
dash-core-components==1.10.2
dash-daq==0.5.0
dash-html-components==1.0.3
dash-mp-components==0.0.24
dash-renderer==1.5.1
dash-table==4.8.1
git+https://github.com/kjappelbaum/molSimplify.git@racs4mof_refact#egg=molsimplify
git+https://github.com/kjappelbaum/crystaltoolkit.git@for_deployment#egg=crystal_toolkit
dash-bootstrap-components==0.10.3
robocrys==0.2.4
pymatgen==2020.7.18
flask_session==0.3.2
colormath==3.0.0
json-logging-py
